.container-fluid {
	background-color: #333;
	margin: 0;
	color: white;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }


#headerDiv {
	margin-bottom: 5rem;
}

#currentName {
	display: inline-block;	
}

#currentScore {
	display: inline-block;
	float: right;
}

.container {
	background-color: #006699;
	padding: 3rem;
	border-radius: 1rem;
	border: 2px solid black;
  }
.fonts {
	font-family: 'Ubuntu', sans-serif;
	font-size: xx-large;
}

.fonts1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: xx-large;
		
}